@model List<Project_Nhom10.Models.DONHANG>
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <form action="/admin/Orders/index" method="post" class="d-flex my-4" role="search">
        <input class="form-control me-2 border-black-50" value="@ViewBag.search" name="search" style="width:330px; height: 40px; border-radius: 0" type="search" placeholder="Search" aria-label="Search">
    </form>
    <table class="table table-bordered proTable">
        <thead>
            <tr>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tài khoản</th>
                <th scope="col">Ngày đặt</th>
                <th scope="col">Phương thức thanh toán</th>
                <th scope="col">Tình trạng thanh toán</th>
                <th scope="col">Tình trạng đơn hàng</th>
                <th scope="col">Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(row => item.MADONHANG)</td>
                    <td><a href="/admin/orders/detail/@item.MADONHANG" class="text-decoration-none">@Html.DisplayFor(row => item.TAIKHOAN)</a></td>
                    <td>@Html.DisplayFor(row => item.NGAYDAT)</td>
                    <td>@Html.DisplayFor(row => item.PTTT)</td>
                    <td>@Html.DisplayFor(row => item.TINHTRANGTT)</td>
                    <td>@Html.DisplayFor(row => item.TINHTRANGDH)</td>
                    <td>@Html.DisplayFor(row => item.THANHTIEN)</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link text-danger" href="/admin/orders/index?search=@ViewBag.search&page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link text-danger" href="/admin/orders/index?search=@ViewBag.search&page=@(i+1)">@(i+1)</a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link text-danger" href="/admin/orders/index?search=@ViewBag.search&page=@ViewBag.NoOfPages" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>