@model List<Project_Nhom10.Models.SACH>
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <form action="/admin/products/index" method="post" class="d-flex" role="search">
        <input class="form-control me-2 border-black-50" value="@ViewBag.search" name="search" style="width:330px; height: 40px; border-radius: 0" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div class="my-3">
        <a href="/admin/products/create" class="text-decoration-none">Thêm sách</a>
    </div>
    <table class="table table-bordered proTable">
        <thead>
            <tr>
                <th scope="col">Mã sách</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Tên sách</th>
                <th scope="col">Giá</th>
                <th scope="col">Giảm giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thể loại</th>
                <th scope="col">Tác giả</th>
                <th scope="col">Nhà xuất bản</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(row => item.MASACH)</td>
                    @if (item.HINHANH == "")
                    {
                        <td><img src="https://t3.ftcdn.net/jpg/03/45/05/92/240_F_345059232_CPieT8RIWOUk4JqBkkWkIETYAkmz2b75.jpg" width="150px" /></td>
                    }
                    else
                    {
                        <td><img src="@item.HINHANH" width="150px" /></td>
                    }
                    <td><a href="/admin/products/update/@item.MASACH" class="text-decoration-none">@Html.DisplayFor(row => item.TENSACH)</a></td>
                    <td>@Html.DisplayFor(row => item.GIA)</td>
                    <td>@Html.DisplayFor(row => item.GIAMGIA)</td>
                    <td>@Html.DisplayFor(row => item.SOLUONGTON)</td>
                    <td>@Html.DisplayFor(row => item.THELOAI.TENTL)</td>
                    <td>@Html.DisplayFor(row => item.TACGIA.HOTEN)</td>
                    <td>@Html.DisplayFor(row => item.NHAXUATBAN.TENNXB)</td>
                    <td>@Html.DisplayFor(row => item.MOTA)</td>
                    <td>
                        <a href="/admin/products/delete/@item.MASACH" class="text-decoration-none"><i class="bi bi-trash-fill" style="color: red;"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link text-danger" href="/admin/products/index?search=@ViewBag.search&page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link text-danger" href="/admin/products/index?search=@ViewBag.search&page=@(i+1)">@(i+1)</a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link text-danger" href="/admin/products/index?search=@ViewBag.search&page=@ViewBag.NoOfPages" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>